{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<div class="min-h-screen bg-gray-100 flex items-center">
  <div class="w-full max-w-4xl mx-auto flex shadow-lg rounded-lg overflow-hidden bg-white">
    
    <!-- Gambar di Samping Kiri -->
    <div class="w-1/2 hidden md:block relative">
      <img src="{% static 'image/login.jpg' %}" alt="Login Image" 
           class="img-hover-effect h-full w-full object-cover">
    </div>
    
    <!-- Form Login di Samping Kanan -->
    <div class="w-full md:w-1/2 px-6 py-10">
      <h1 class="text-3xl font-semibold text-center text-gray-900 mb-6">Welcome to SoBat!</h1>
      <p class="text-center text-gray-500 mb-8">Login to continue</p>
      
      <form method="POST" class="space-y-6">
        {% csrf_token %}
        <div class="space-y-4">
          <input 
            type="text" name="username" id="username" required
            class="w-full px-4 py-3 rounded-md border border-gray-300 text-gray-900 
                   focus:outline-none focus:ring-2 focus:ring-[#254922] focus:border-[#254922]"
            placeholder="Username">
          <input 
            type="password" name="password" id="password" required
            class="w-full px-4 py-3 rounded-md border border-gray-300 text-gray-900 
                   focus:outline-none focus:ring-2 focus:ring-[#254922] focus:border-[#254922]"
            placeholder="Password">
        </div>
        
        <button type="submit"
          class="w-full bg-[#254922] text-white py-3 rounded-md font-semibold 
                 hover:bg-green-800 transition duration-300">
          Sign in
        </button>
      </form>
      
      <p class="text-center mt-6 text-sm text-gray-500">
        Don’t have an account? <a href="{% url 'authentication:register' %}" class="text-[#254922] font-semibold hover:underline">Register Now</a>
      </p>
    </div>
  </div>
</div>

{% endblock content %}

