{% extends 'base.html' %}
{% block content %}

<h5>NPM: </h5>
<p>{{ npm }}<p>
<h5>Name: </h5>
<p>{{ name }}<p>
<h5>Class: </h5>
<p>{{ class }}<p>

    {% if not drug_entries %}
    <p>Belum ada data obat</p>
    {% else %}
    <table>
      <tr>
        <th>Nama Obat</th>
        <th>Deskripsi</th>
        <th>Kategori</th>
        <th>Tipe Obat</th>
        <th>Bentuk Obat</th>
        <th>Harga</th>
        <th>Ketersediaan</th>
        <th>Toko Penyedia</th>
      </tr>
    
      {% for drug_entry in drug_entries %}
      <tr>
        <td>{{drug_entry.name}}</td>
        <td>{{drug_entry.desc}}</td>
        <td>{{drug_entry.category}}</td>
        <td>{{drug_entry.drug_type}}</td>
        <td>{{drug_entry.drug_form}}</td>
        <td>{{drug_entry.price}}</td>
        <td>{{drug_entry.availibility}}</td>
        <!-- <td>{{drug_entry.shop}}</td> -->
      </tr>
      {% endfor %}

    </table>
    {% endif %}
    
    <br />
    
    <a href="{% url 'product:create_drug_entry' %}">
      <button>Add New Drug Entry</button>
    </a>
    {% endblock content %}
