{% extends 'base.html' %}
{% load static %}

{% block meta %}
<script src="https://cdn.jsdelivr.net/npm/dompurify@3.1.7/dist/purify.min.js"></script>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
<div class="">
    <h2 class="text-3xl font-bold text-blue-700 mb-6">Your Favorites</h2>

    <div class="w-full max-w-4xl">
        {% if favorite_items %}
           
                {% for product in favorite_items %}
                <div class="container mx-auto p-6">
                    <div class="max-w-md mx-auto bg-white rounded-lg shadow-lg p-6">
                        <img class="w-full h-64 object-cover rounded-lg mb-4" src="/media/{{ product.image }}" alt="{{ product.name }}">
                        <h1 class="text-3xl font-bold text-gray-800 mb-4">{{ product.product.name }}</h1>
                       
                        <p class="text-2xl font-bold text-green-600 mb-4">Rp {{  product.product.price }}</p>
                        <p class="text-lg text-gray-600 mb-6">{{  product.product.desc }}</p>
                        <a href="{% url 'daftar_favorite:delete_favorite' product.id %}" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-6 rounded-lg">delete</a>
                        <button id="addToResepBtn" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-6 rounded-lg">Tambah ke Resep</button>
                       
                    </div>
                    </div>
                </div>
                {% endfor %}
          
        {% else %}
            <p class="text-gray-600 mt-10 text-center">No items in your wishlist.</p>
        {% endif %}
    </div>
</div>
{% endblock content %}
