{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Edit Review For {{ product.name }}</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
<div class="max-w-lg mx-auto p-4">
    <h2 class="text-2xl font-semibold mb-4">Edit Review for {{ product.name }}</h2>

    <form method="POST" class="space-y-4 bg-white p-6 shadow rounded-md">
        {% csrf_token %}
        {{ form.as_p }}
        
        <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-md">
            Submit
        </button>
    </form>

    <div class="mt-4">
        <a href="{% url 'review:reviews' product.id %}" class="text-gray-500 hover:text-gray-700">
            Cancel
        </a>
    </div>
</div>
{% endblock content %}